
$ff-regular: 'Space Grotesk', sans-serif;
$fw-regular: 500;

$fs-fieldname: 0.75rem;
$fs-input: 1.125rem;
$fs-accent: 0.563rem;

$fs-accent-desktop: 0.875rem;
$fs-input-desktop: 1.75rem;

$clr-100: hsl(0, 0%, 100%);
$clr-200: hsl(270, 3%, 87%);
$clr-300: hsl(279, 6%, 55%);
$clr-400: hsl(278, 68%, 11%);

$desktop: 1100px;
